div{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
}

/* @media print and (width:700px) {
    div{
        background-color:red;
    }
    
} */

/* @media screen and (width:700px) {
    div{
        background-color:red;
    }
    
} */

/* @media screen and (max-width:991px) {
    div{
        background-color:rgb(47, 255, 0);
    }
    
}

@media screen and (max-width:767px) {
    div{
        background-color:red;
    }
    
}

@media screen and (max-width:576px) {
    div{
        background-color:rgb(41, 33, 33);
    }
    
} */

/* @media screen and (min-width:576px) {
    div{
        background-color:rgb(51, 255, 0);
    }
    
}

@media screen and (min-width:767px) {
    div{
        background-color:red;
    }
    
}

@media screen and (min-width:991px) {
    div{
        background-color:rgb(15, 14, 14);
    }
    
} */


@media screen and (orientation:portrait) and (max-width:600px) {
    div{
        background-color:rgb(194, 13, 13);
    }
    
}
