*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    align-items:center ;
    min-height: 50px;
    position: fixed;
    width: 100vw;
}

.ull{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

ul{
    list-style: none;

}


@media screen  and  (max-width:576px){
    div , .ull{
        flex-direction: column;
        align-items: center;
    }
    
}