/* 
h1{
    transform: translateX(200px);

} */
h1:hover{
    transition-duration: 3s;
    /* transform: translateX(200px); */
    /* transform: translateY(200px); */
    /* transform: translate(200px); */
    /* transform: rotateX(180deg);
    transform: rotateY(180deg); */
    transform: rotate(-180deg);

    /* this was left to discuss  */
    transform: scaleX(1.2);
    transform: scaley(1.2);
    transform: scale(0.7,1.2);

}
